/* Resets padding and margin for everything */

* {
    margin: 0;
    padding: 0;
}



/* Header */



.header-container {
    margin: 0;
    padding: 0;
}

.header-container .page-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:  #8a8989;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 10px;
}

.header-container .logo img {
    max-width: 20%;
    height: auto;
    padding-left: 30px;
}

.header-container .navigation {
    display: flex;
    justify-content: flex-end;
    font-family: 'Inter', sans-serif;
    margin-bottom: -50px;
    font-weight: bold;
    font-size: large;
}

.header-container .navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header-container .navigation li {
    margin-right: 25px;
}

.header-container .navigation a {
    text-decoration: none;
    color: #333333;
}

.header-container a:hover {
    color: #ECA390;
    transition: 0.3s;
}

.header-container .navigation .home a,
.header-container .navigation .cats a,
.header-container .navigation .about a,
.header-container .navigation .shop a,
.header-container .navigation .contact a {
    color: #D9D9D9;
}

.header-container .search-icon img {
    max-width: 35%;
    height: auto;
    padding-left: 4px;
}



/* Body */



body {
    background-color: #D9D9D9;
}

.body-container {
    background-color: #D9D9D9;
    background-image: url(images/bannerpaw.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 100%;
    margin: auto;
    margin-bottom: 0;
}

.randomcat {
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    font-weight: bolder;
    width:70%;
    margin:10px auto;
    padding-bottom:10px;
    padding-top: 10px;
    text-align: justify;
}

.home-banner-container {
    box-sizing: border-box;
    display: block;
    width: 100%; 
}

.home-banner-container img {
    width: 100%; 
    height: 500px; 
    object-fit: cover; 
    object-position: top;
    display: block; 
}

.randomcat h1{
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    margin:0;

}

h2{
    padding-bottom:10px;

}

article{
    padding-left:20px;
    display: flex;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px; 
    align-items: center; 
  }

.randomcat button {
    max-width: 180px;
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: #30333A;
    color: #fff; 
    padding: 10px 20px; 
    border: none;
    cursor: pointer;
    font-family: 'Lato', 'sans-serif';
    font-size: larger;
    font-weight: bold;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
}

.randomcat button img {
    width: 30px; 
    height: auto;
    padding-left: 6px;
}

.randomcat a{
    text-decoration: none;
}

.randomcat button:hover {
    background-color: #30333A;
    color: #ECA390;

}



/* Footer */



.footer-container {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding: 0;
    display: flex;
    flex-direction: row;
    background-color: #30333A;
    margin: 0;
    width: 100%;
    padding-top: 30px; 
    padding-bottom: 30px; 
    box-sizing: border-box;
    border-top: none;
}

.footer-container .col-1,
.footer-container .col-2,
.footer-container .col-3,
.footer-container .col-4 {
    flex: 1;
    justify-content: space-between;
    padding: 30px;
    padding-left: 70px;
    text-align: left;
    margin: 0;
}

.footer-container .col-2 {
    padding-left: 0;
}

.footer-container .col-3 {
    padding-right: 0;
}

.footer-container .col-4 {
    flex: 1;
    padding-left: 0;
}

.footer-container nav ul {
    font-family: 'Lato', sans-serif;
    list-style-type: none;
    font-size: 13px;
    margin: 0;
    padding: 0;
}

.footer-container nav a,
.footer-container nav a:visited,
.footer-container nav a:active {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.footer-container nav a:hover {
    color: #ECA390;
    font-weight: underline;
}

.footer-container img {
    width: 150px;
    padding-top: 30px;
    height: auto;
    display: block;
    margin: 0 auto;
}



/* Cats and shop */



.catnshop-container {
    background-color: #D9D9D9;
    max-width:1900px auto;
    background-size: 100%;
    background-image: url(images/bannerpaw.png);
    background-repeat: no-repeat; 
    background-position: bottom right;
    background-attachment: fixed;
}

.cat-header{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: 7.5%;   
    text-align: center;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.cat-header img {
    width: 30px; 
    height: auto;
    margin: 0 10px; 
}

.cat-cards {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: bolder;
    padding-top:50px;
    padding: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    justify-content: center; 
    align-items: center; 
    margin: 0 auto; 
    max-width: 1200px; 
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #b1aeae ;
    border-radius: 10px;
    width: 95%;
}

.card img {
    width: 200px; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 10px; 
    margin-top: 20px;
    margin-bottom: 20px; 
    overflow: hidden; 
}

.card button {
    margin-top: 10px; 
    background-color: #30333A;
    color: #fff;
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: large;
    font-family: 'Lato','sans-serif';
    font-weight: bold;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
}

.card a {
    text-decoration: none;
}

.card button:hover {
    background-color: #30333A;
    color: #ECA390;
}



/* About cat section */



.desc-banner-container {
    box-sizing: border-box;
    display: block;
    width: 100%; 
}

.desc-banner-container img {
    width: 100%; 
    height: 500px; 
    object-fit: cover; 
    object-position: top;
    display: block; 
}

.button-placement{
    display: grid;
    place-items: center;
    margin: 0;
}

.adopt-cat-button{
    margin-top:20px;
    margin-bottom: 10px;
    max-width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #30333A;
    color: #fff; 
    padding: 10px 20px; 
    border: none;
    cursor: pointer;
    font-family: 'Lato', 'sans-serif';
    font-size: larger;
    font-weight: bold;
    border-radius: 10px;
}

.adopt-cat-button:hover {
    background-color: #30333A;
    color: #ECA390;
}



/* About section */



.article {
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    font-weight: bolder;
    width:70%;
    margin:10px auto;
    padding-bottom:10px;
    padding-top: 10px;
    text-align: justify;
}

.about-banner-container {
    box-sizing: border-box;
    display: block;
    width: 100%; 
}

.about-banner-container img {
    width: 100%; 
    height: 500px; 
    object-fit: cover; 
    object-position: top;
    display: block; 
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px; 
    align-items: center; 
  }



  /* Contact page */ 



.contact-banner-container {
    box-sizing: border-box;
    display: block;
    width: 100%; 
}

.contact-banner-container img {
    width: 100%; 
    height: 500px; 
    object-fit: cover; 
    object-position: top;
    display: block; 
}

.text-container{
    background-color: #D9D9D9;
    background-image: url(images/bannerpaw.png);
    background-repeat: no-repeat; 
    background-position: center right ;
    background-size: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 40px;
    width:70%;
    margin: auto;
    text-align: justify;
}

.catpaw {
    max-width: 30px; 
    height:auto;
    display: flex;
    margin: 0 10px; 

}
.form-header{
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    font-size: 14px;
    margin-bottom: 5px;
    text-align: center;
    display: flex;
    padding-left: 30px;
    align-items: center; 
    padding-top: 20px;
}

form {
    font-family: 'Lato', sans-serif;
    background-position: right center;
    font-size: 17px;
    font-weight: bolder;
    width: 90%;
    margin: 30px;
}

input[type="name"],
input[type="email"],
input[type="phonenumber"],
input[type="inquiry"]{
    margin-bottom: 10px;
    background-color:#8a8989;
    border-radius:15px;
    width: 100%;
    padding-bottom: 20px;
}

input[type="inquiry"]{
    display: flex;
    padding-bottom: 50px;
}

button{
    max-width: 180px;
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: #30333A;
    color: #fff; 
    padding: 10px 20px; 
    border: none;
    cursor: pointer;
    font-family: 'Lato', 'sans-serif';
    font-size: larger;
    font-weight: bold;
    border-radius: 10px;
}

button:hover {
    background-color: #30333A;
    color: #ECA390;
}

.adopt-cat-button:hover {
    background-color: #30333A;
    color: #ECA390;
}

.contact-article {
    
    font-family: 'Lato', sans-serif;
    background-size: 80%;
    background-repeat: no-repeat; 
    background-position: right center;
    font-size: 17px;
    font-weight: bolder;
    width:100%;
    padding-bottom: 20px;
    text-align: justify;
}



/* Media query for small screens (mobile devices) */
@media only screen and (max-width: 600px) {
    /* Mobile Header */
    .header-container .page-header {
      grid-template-columns: 1fr;
      text-align: center;
      position:static;
    }
  
    .header-container .logo img {
      max-width: 50%;
      padding-left: 0;
    }
  
    .header-container .navigation {
      justify-content: center;
      margin-bottom: 0;
    }
  
    .header-container .navigation ul {
      flex-direction: column;
    }
  
    .header-container .navigation li {
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    .header-container .search-icon img {
      max-width: 20%;
    }
  
    /* Mobile Body */

    .body-container, .catnshop-container, .text-container {
        background-image: none ;
        background-color: #D9D9D9;
    }

    .body-container {
      background-size: cover;
      background-position:right;
    }
  
    .randomcat {
      width: 70%;
    }
  
    .home-banner-container img {
      height:300px;
      object-position: right ;
      object-fit: cover;
    }

    .desc-banner-container img{
        height:300px;
        object-position: left ;
        object-fit: cover;
    }
  
    .about-banner-container img{
        height:300px;
        object-fit: cover;
    }

    .contact-banner-container img{
        height:300px;
        object-fit: cover;
    }

    .text-container{
        display: grid;
        align-items: justify;
        grid-template-columns: 1fr; 
        grid-template-rows: auto auto; 
        gap: 10px; 
    }

    .grid-container{
        display: grid;
        grid-template-columns: 1fr; 
        grid-template-rows: auto auto; 
        gap: 10px; 
    }

    .contact-article{
        padding-left: 10%;
        text-align: justify;
    }

    .form-container button{
        margin-top: 10%;
        margin-left: 30%;
    }

    .randomcat button {
      max-width: 100%;
      margin-left:25%;

    }

    .text-container{
        padding-right: 15%;
    }
  
    /* Mobile Footer */

    .footer-container {
      flex-direction: column;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  
    .footer-container .col-1,
    .footer-container .col-2,
    .footer-container .col-3,
    .footer-container .col-4 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .footer-container img {
      width: 100px; 
      padding-top: 10px;
    }
  
    /* Mobile Cats and Shop */
  
    .cat-header {
      margin-top: auto;
      padding-top: 20px;
    }
  
    .cat-cards {
      width: 75%;
      grid-template-columns: 1fr;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .card img {
      width: 85%;
      border-radius: 10px;
      object-fit: cover;
      overflow: hidden;
    }
  }
